body
{
    background-image: url(../backgrounds/red.png);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;  
}

ul
{
    list-style: disc;
}
li.ab
{
    list-style-type:circle;
}
li.ac
{
    list-style: circle;
}
ol.aa
{
    list-style: square;
}
ol.ab
{
    list-style-type: circle;
}
h2
{
    text-transform: uppercase;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1;
    text-shadow: 4px 4px 4px red;
}
h3
{
    text-transform: uppercase;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1;
    text-shadow: 4px 4px 4px red;
}
pre
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
a
{
    font-size: 15px;
    text-align: right;
    margin-right: 18px;
    margin-left: 10px;
    text-decoration: none;
    position:relative;
    text-shadow: 0px 6px 6px red;
            
}
a:link.header
{
    color: rgb(4, 116, 168); 
    text-decoration:none;
    text-decoration: underline;
}
a:visited.header
{
    color:white; text-decoration: none;
}
a:active.header
{
    color:red; text-decoration:solid;
}
a:hover.header
{
    cursor: pointer;
    box-shadow: 4px 8px 10px red;
    font-size: 18px;
    color: white;
}